# Dependencies
/node_modules/
/vendor/
/vendor-bin/*/vendor/
/vendor-bin/*/composer.lock

# Build output
/js/
/css/

# Tooling caches
/.phpunit.cache/
/.php-cs-fixer.cache
/.phpstan.cache/

# Local environment
/.idea/
/.vscode/
*.log
/.env
/.env.*
