parameters:
    level: 8
    paths:
        - lib
        - tests
    scanFiles:
        - build/package-links.php
        - build/stubs/doctrine-dbal.php
        - build/stubs/doctrine-dbal-platform.php
        - build/stubs/doctrine-dbal-schema.php
    treatPhpDocTypesAsCertain: false
